includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 1

    phpVersion: 80300

    paths:
        - evoxup-membership.php
        - uninstall.php
        - api
        - modules
        - src

    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php

    reportUnmatchedIgnoredErrors: false

    treatPhpDocTypesAsCertain: false
